<h1>Angular Part 03</h1>
<h2>Parent component</h2>
<!-- Passing dummy value 0 on keyup event-->
<!-- Enter the Parent value :<input type="text" #parentTxtBox (keyup)="0"> -->
<!-- <app-basic-input-output [getParentData]="parentTxtBox.value"></app-basic-input-output>
Enter the Parent value :<input type="text" #parentTxtBox (keyup)="sendToParent(parentTxtBox.value)">  -->
Enter the Parent value :<input type="text" #parentTxtBox (keyup)="0">  
<br><br>
 Child value will display here:
 <hr>
 <!--
 <app-basic-input-output [getParentData]="parentTxtBox.value"></app-basic-input-output>
 -->
 <app-basic-input-output [getParentData]="parentValue"></app-basic-input-output>
